$BM-Plum: #4a3b90;
$BM-Darkblue: #002855;
$BM-Aubergine: #592c54;
$BM-Cyan: #009fdf;
$BM-Amber: #f2af00;
$BM-Lemon: #c7d400;
$BM-Raspberry: #de095b;
$BM-Violet: #b32486;
$BM-Pastel-Aubergine-1: #bd9ae1;
$BM-Pastel-Aubergine-2: #cac4d6;
$white: #ffffff;
$BM-Pastel-Plum-2: #c0cdd8;
$BM-Pastel-Lemon-1: #b8ed9d;
$BM-Pastel-Raspberry-1: #eebb9e;
$BM-Pastel-Lemon-2: #d2f6d1;
$BM-Pastel-Raspberry-2: #ffe6ce;
$BM-Pastel-Plum-1: #79a7d4;
$BM-Pastel-Amber-1: #d7cd76;
$BM-Pastel-Amber-2: #f3f6bb;
$BM-Pastel-Violet-1: #c3a7bb;
$BM-Pastel-Violet-2: #d7c5d4;
$BM-LightBlue: #f4f7fd;
$BM-LightGray: #dfe5f1;